In [53]:
import os
import sys
from dotenv import load_dotenv
import pandas as pd

load_dotenv()
sys.path.append(os.getenv("APPROOT"))

import api


def fetch_estats(_id):
    """https://www.e-stat.go.jp/stat-search/database?page=1&layout=datalist&toukei=00200502&tstat=000001111375&cycle=8&tclass1=000001111377&result_page=1&tclass2val=0"""

    res = api.get_stats_data(_id, limit = None)

    values = res["GET_STATS_DATA"]["STATISTICAL_DATA"]["DATA_INF"]["VALUE"]
    cls_obj = res["GET_STATS_DATA"]["STATISTICAL_DATA"]["CLASS_INF"]["CLASS_OBJ"]

    df = pd.DataFrame(values)

    rename_hash = {"@" + i["@id"]: i["@name"] for i in cls_obj}

    for i in cls_obj:
        _cls = i["CLASS"]
        col_name = "@" + i["@id"]

        if isinstance(_cls, dict):
            _hash = {_cls["@code"]: _cls["@name"]}
        elif isinstance(_cls, list):
            _hash = {i["@code"]: i["@name"] for i in _cls}
        else:
            pass

        df[col_name] = df[col_name].apply(lambda x: _hash[x])
    
    return df.rename(columns = rename_hash)

In [54]:
fetch_estats("0000010101")

       観測値              Ａ　人口・世帯   地域     調査年 @unit          $
0      観測値            A1101_総人口   全国  1975年度     人  111939643
1      観測値            A1101_総人口   全国  1976年度     人  113094000
2      観測値            A1101_総人口   全国  1977年度     人  114165000
3      観測値            A1101_総人口   全国  1978年度     人  115190000
4      観測値            A1101_総人口   全国  1979年度     人  116155000
...    ...                  ...  ...     ...   ...        ...
99995  観測値  A121302_60～64歳人口（女）  新潟県  2001年度     人      79000
99996  観測値  A121302_60～64歳人口（女）  新潟県  2002年度     人      79000
99997  観測値  A121302_60～64歳人口（女）  新潟県  2003年度     人      79000
99998  観測値  A121302_60～64歳人口（女）  新潟県  2004年度     人      81000
99999  観測値  A121302_60～64歳人口（女）  新潟県  2005年度     人      78612

[100000 rows x 6 columns]